@charset "utf-8";

$body-bg: rgb(59, 173, 255);

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    height: 100vh;
    > header {
	/* position: absolute; */
	position: relative;    
	top: 50%;
	/* left: 50%; */
	/* margin: 0 auto; */
	transform: translateY(-50%);
	text-align: center;
	/* width: 100vw; */
	/* height: 100vh; */
	h1 {
	    margin: 0;
	}
    }
    > main {
	@extend .hidden;
    }
}
